<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Tage Test Suite">
            <directory>tests/Tage/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Tage/</directory>
        </whitelist>
    </filter>
</phpunit>
